<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet", href="./css/styles.css">
    </header>
    <body>
        {{!-- How to render a partial in hbs --}}
        {{>header}}
        <h1>{{title}}</h1>
        {{>footer}}
    </body>
</html>