<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet", href="./css/styles.css">
    </header>
    <body>
        {{!-- How to access vars in hbs --}}
        {{>header}}
        {{>footer}}
    </body>
</html>